/* --------------- GLOBAL ---------------*/
*{
    box-sizing: border-box;
}
.container-content{
    padding: 20px 20px 20px;
}
:root{
    --white: white;
    --gray-box-shadow: #B8B8B8;
}

/* --------------- LOGIN, SIGNIN --------------- */
.logo_ReFashioned{
    width: 100%;
    max-width: 250px;
    margin: 0 auto 20px;
    display: block;
}
.container-login, .container-signin{
    width: 100%;
    max-width: 350px;
    padding: 20px 20px 0 20px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 15px 0px rgb(180, 180, 180);
}
.container-signin{
    width: 100%;
    max-width: 450px;
}
.container-login p, .container-signin p{
    font-size: 23px;
}
.container-login input, .container-login button,
.container-signin input, .container-signin button{
    font-size: 15px;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.container-login .inp-btn, .container-signin .inp-btn{
    font-size: 18px;
    border: 0;
    border-radius: 5px;
}
.container-login .btn-green, .container-signin .btn-green{
    background-color: lightgreen;
}
.container-login .btn-blue, .container-signin .btn-blue{
    background-color: lightskyblue;
}
button a{
    text-decoration: none;
    color: black;
    width: 100%;
    display: block;
}

/* --------------- NAVBAR --------------- */
.container-page-nav{
    height: 80px;
    background-color: rgb(169, 195, 255); 
}
.page-nav{
    display: flex;
    align-items: center;
    height: 80px;
    gap: 25px;
    padding: 0 20px;
}
.page-nav img{
    height: 70px;
}
.page-nav a{
    text-decoration: none;
    color: black;
}
.page-nav .nav-user-type{
    margin-left: auto;
}
.page-nav .avatar{
    width: 40px;
    height: 40px;
}

/* --------------- HOME --------------- */
.page-nav, .container-content, .div-portada{
    margin: auto;
}
.page-nav, .img-portada{
    width: 100%;
}

@media only screen and (min-width: 1200px){
    .page-nav, .container-content, .div-portada{
        max-width: 1500px;
    }
}

/* --------------- PRODUCTS --------------- */
.container-page{
    display: flex;
}
.aside-left{
    width: 20%;
}
.aside-left .product .inp-icon-trash{
    width: 25px;
    padding: 6px;
    border-radius: 5px;
    /* border: 1px solid black; */
    background-color: lightcoral;
}
.aside-left .btn-do-order{
    width: 100%;
    font-size: 18px;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    background-color: lightgreen;
}

.main-page{
    padding-left: 20px;
    width: 80%;
} 
.div-products .product, .aside-left .product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 10px 20px;
    background-color: white;
}
.div-products .product form, .aside-left .product form{
    display: flex;
    align-items: center;
    gap: 10px;
}
.div-products .product p, .aside-left .product p{
    margin: 0;
}
.div-products .product .inp-quantity{
    width: 40px;
    border: none;
    border-bottom: 1px solid black;
    /* max-width: 50px; */
}
.div-products .product div:nth-child(2), .aside-left .product div:nth-child(2){
    display: flex;
    align-items: center;
    gap: 10px;
}
.div-products .product .inp-icon-shop{
    width: 30px;
    padding: 6px;
    border-radius: 5px;
    /* border: 1px solid black; */
    background-color: lightgreen;
}

/* --------------- ORDERS --------------- */
.order-header{
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    /* background-color: rgb(218, 218, 218); */
    background-color: #bcf0c8;
}
.order-header label{
    margin-right: 20px;
}
.order .product{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 5px 0;
    padding: 10px 20px;
    background-color: white;
}
.order .product p{
    margin: 0;
}

/* --------------- SHIPMENTS --------------- */
.shipment-header{
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    /* background-color: rgb(218, 218, 218); */
    background-color: #bcf0c8;
}
.shipment-header label{
    margin-right: 20px;
}
.shipment .order{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 5px 0;
    padding: 10px 20px;
    background-color: white;
}
.shipment .order p{
    margin: 0;
}

/* --------------- ACCOUNT --------------- */
.body-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -20px;
}
.cont-profile{
    background-color: var(--white);
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    height: 350px;
    box-shadow: 0 0 15px var(--gray-box-shadow);
    border-radius: 10px;
    overflow: hidden;
}
.div-avatar-father{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    max-width: 170px;
    height: 100%;
    margin-right: 70px;
    box-shadow: 0px 0 20px var(--gray-box-shadow);
    background: linear-gradient(to right, #c6a3dd, #9abdc9);
}
.div-avatar{
    background-color: var(--white);
    border-radius: 50%;
    padding: 5px;
    position: relative;
    right: -65px;
}
.div-avatar .avatar{
    width: 130px;
}
/* info account */
.profile-info{
    padding: 10px;
}
.profile-head p{
    margin: 0;
    font-weight: 600;
    font-size: 30px;
}
.profile-head hr{
    margin-right: 50px;
}
.profile-head label{
    font-size: 19px;
}
.profile-body .col{
    padding-top: 5px;
    padding-bottom: 5px;
}
.profile-body .th{
    font-weight: 700;
}
.profile-body{
    font-size: 15px;
    padding-right: 20px;
}
.btn-profile{
    width: 110px;
    height: 40px;
    margin: 20px 100px 0 0;
    font-weight: 500;
    border-radius: 50px;
    border: none;
    color: var(--white);
}
.btn-logout{
    box-shadow: 5px 5px 10px rgb(236, 105, 105 , 0.4);
    background: linear-gradient(to right, #ec6969, #f0b066);
}
.btn-home{
    box-shadow: 5px 5px 10px rgb(106, 223, 125 , 0.4);
    background: linear-gradient(to right, #6adf7d, #57dabd);
}
@media screen and (max-width: 700px) {
    .cont-profile{
        display: block;
        max-width: 400px;
        height: auto;
    }
    .div-avatar-father{
        justify-content: center;
        width: 100%;
        max-width: 100%;
        background: linear-gradient(to top, #c6a3dd, #9abdc9);
        margin-bottom: 50px;
    }
    .div-avatar{
        right: 0px;
        bottom: -65px;
    }
    /* info account*/
    .profile-info{
        text-align: center;
        padding: 10px;
    }
    .profile-head hr{
        margin-right: 0;
    }
    .btn-profile{
        margin: 10px 20px;
    }
}

