/* ---------- GENERAL -------- */
*{
    box-sizing: border-box;
}
.container-content{
    padding: 20px 20px;
    /* background-color: rgb(29, 29, 34); */
    height: 100vh;
}

/* ---------------------- LOGIN ---------------*/
.container-img{
    width: 100%;
    max-width: 1024px;
    height: 100%;
    text-align: center;
    /* background-color: aqua; */
    margin: auto;
    position: relative;
}
.container-img h1{
    font-size: 60px;
}
.login-img{
    height: calc(100% - 80px);
    margin-left: 250px;
    /* background-color: rgb(79, 185, 185); */
}
.container-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: -50px;
    height: 100%;
    width: 100%;
    max-width: 350px;
    padding: 20px 20px 0 20px;
    margin: auto;
    text-align: center;
}
.container-login p{
    font-size: 30px;
}
.container-login input{
    font-size: 15px;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    
    border-radius: 50px;   
}
.container-login .inp-login{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding-left: 15px;
}
.container-login .inp-btn{
    border: 0;
    font-size: 18px;
}
.container-login .btn-blue{
    background-color: lightskyblue;
}

/* --------------------- CONTENEDOR Y HEADER ---------------*/

.container-chat{
    background-color: white;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.header-chat{
    min-height: 80px;
    width: 100%;
    background-color: rgb(37, 37, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header-chat h1{
    color: white;
    margin: 0;
}
.header-chat a{
    color: white;
    text-align: center;
    position: absolute;
    left: 20px;
    text-decoration: none;
}
.header-chat h3{
    margin: 0;
}


/* --------------- ASIDE CHAT ------------*/
.aside-and-body{
    height: 100%;
    display: flex;
}
.aside-chats{
    width: 80px;
    height: 100%;
    display: flex;
    /* justify-content: center; */

    flex-direction: column;
    align-items: center;
    background-color: rgb(51, 49, 59);
}
.back-chat{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    border-radius: 50px;
    background-color: rgb(215, 214, 243);
    border: none;
}

.back{
    padding: 9px;
}
/* ----------- CONTENIDO CHAT ----------------*/
.chat-body{
    width: 100%;
    background-color: rgb(140, 143, 184);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    vertical-align: baseline;
}
.chat-content0{
    overflow-y: auto;
}

.chat-content{
    background-color: rgb(140, 143, 184);
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 190px);
    overflow-y: auto;
}
.mssg{
    min-width: 50px;
    max-width: 400px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    color: white;
    overflow-wrap: break-word;
}
.mssg label{
    display: block;
}
.mssg1{
    background-color: rgb(82, 82, 109);
    align-self: flex-start;
    overflow-wrap: break-word;
}
.mssg2{
    background-color: rgb(99, 93, 165);
    align-self: flex-end;
    padding-left: 20px;
}

/* ----------------- AREA MENSAJE -----------------*/
.div-file{
    position: absolute;
    left: 35px;
    opacity: 0;
}
.div-file input{
    width: 20px;
}
.file2{
    width: 40px;
    height: 40px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 30px;
    border-radius: 100px;
    background-color: rgb(178, 179, 206);
    /* padding: 5px; */
}
.file2 a{
    position: absolute;
    width: 70%;
}
.file2 img{
    width: 100%;
}
.message-div{
    width: 100%;
    background-color: rgb(97, 98, 128);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.message-area{
    width: 80%;
    height: 70%;
    border-radius: 50px;
    padding: 20px;
    background-color: rgb(145, 145, 190);
    border: none;
    outline: none;
    color: rgb(235, 235, 235);
}
.btn-send{
    background-color: rgb(178, 179, 206);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    text-align: center;
    position: absolute;
    margin: 0;
    right: 30px;
    padding: 5px;
}