{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block navbar %} 
<!-- <div class="container-page-nav">
    <div class="page-nav">
        <a href="/home"><img src="/static/img/logo_ReFashioned_v2_733.png"></a>
        {% if session['user_type'] == 'CLIENTE' %}
            <a href="/products">Productos</a>
        {% elif session['user_type'] == 'ADMIN' %}
            <a href="/manage-products">Manejar productos</a>
        {% endif %}

        <a class="nav-user-type" href="/account">{{session['user_type']}}</a>
        <label for="">|</label>
        <a class="nav-account" href="/account"><img class='avatar' src='static/img/avatar.png' alt='Profile'></img></a>
    </div>
</div> -->
{% endblock %}

{% block front_page %}
{% endblock %}

{% block content %}
<div class="container-chat">
    <div class="header-chat">
        <a href="/salir"><h3>Salir</h3></a>
        <h1>Sony Chat Bot 1</h1>
    </div>

    <div class="aside-and-body">
        <div class="aside-chats">
            <a href="/backChat"><input class="back-chat back" type="image" src="static/imgs/back.png">
            </a>
            <input class="back-chat" type="image" src="static/imgs/bot.png">
        </div>

        <div class="chat-body">
            <div class="chat-content0">
                <div class="chat-content" id="hi">
                {% for message in messages %}
                    {% if message['from'] == 'bot'%}
                        <div class="mssg mssg1">
                            {% for txt in message['msg'] %}
                                <label>{{txt}}</label>
                            {% endfor %}
                        </div>
                    {% elif message['from'] == 'user' %}
                        <div class="mssg mssg2">
                            {% for txt in message['msg'] %}
                                {% if txt == 'img.jpg'%}
                                    <img src="k.jpg" alt="img.jpg"></img>
                                {% else%}
                                    <label>{{txt}}</label>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            </div>
            
            <form class="message-div" action="/sendMessage" method="post">
                
                <div class="file2">
                    <a href="/openFile"><img src="static/imgs/imagen.png"></a>
                </div>
                <div class="div-file">
                    <input class="file" id="my-file" type="file" accept="image/*" area-label="ed">
                </div>
                <input class="message-area" name="message" type="text" autofocus>
                <input class="btn-send" type="image" src="static/imgs/send.png" width="5" height="5">
            </form>

            <script>
                let miDiv = document.getElementById('hi');
                miDiv.scrollTop = miDiv.scrollHeight;
            </script>
        </div>
    </div>
</div>
{% endblock %}