{% extends 'base.html' %}
{% block title %} Login {% endblock %}

{% block content %} 
    <div class="container-img">
        <h1>SOPORTE SONY</h1>
        <img class="login-img" src="static/imgs/login-img.png" alt="">

        <div class="container-login">
            <p>CONTACTA CON NUESTRO SOPORTE</p>
            <form action="", method="post" >
                <input class="inp-login" type="name" name="nombre" placeholder="Nombre" required>
                <input class="inp-login" type="email" name="correo" placeholder="Correo" required>
                <input class="inp-login" type="number" name="numero" placeholder="Numero" required>
                <input class="inp-login" type="number" name="cedula" placeholder="Cedula" required>
                <input class="inp-login" type="text" name="pais" placeholder="Pais" required>
                <input class="inp-btn btn-blue" type="submit" value="Obtener soporte">
            </form>
        </div>
    </div>
{% endblock %}